@charset "utf-8";

:root {
    --app-background-color: rgb(37, 37, 38);
    --app-border-color: #3c3a3a;
    --ap-background-color-other: rgb(86, 86, 86);
    --app-facebook-Color:#1877F2;
    --app-hover-color: #4b6ea9;
    
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 80vw;
    height: 60vh;
}

.dvLeft {
    background-image: url('../img/sharing.jpeg');
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 10px;
}

.dvRight {
    padding: 50px 10;
}

.dvRight button {
    width: 180px;
    height: 40px;
    background-color: var(--app-facebook-Color);
    border-radius: 10px;
    font-size: 18px;
    padding: 0px 10px;
    color: white;
}

.dvRight button:hover {
    background-color: var(--app-hover-color);
}

.title {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 800;
}

.title span {
    color: var(--app-facebook-Color)
}

.decribe {
    margin-bottom: 20px;
    font-size: 14px;
}

#chkRememberMe {
    margin-top: 5px;
    margin-right: 5px;
}

label {
    white-space: nowrap;
}

.form-footer a, a:visited{
    color: black;
}





form input {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* white-space: nowrap;
overflow: hidden; */